.automobile_main{
	height: auto;	
	width: 	100%;
}
.c{
	text-align: center
}
h1{
	font-size: 25px;
	padding:10px 0 20px 0;
}
h2{
	font-size: 21px;
	padding:10px 0;
}
section{
	padding:5vh 5vw;
}
.lh li{
	line-height: 30px;
}
li,p{
	font-size: 16px;
}/*
.flex-container div{
	width:100%;
	margin: 5px;
	flex:1;
}*/
.flex-container div img{
	/*width:100%;*/
	height: auto;
}
.grid-container{
	display: grid;
	padding: 0;
}


.spshow{
	grid-column:1/ span 3;
	grid-row: 2;
}
.blue-blox{
	padding:10px;	
	background:#b73333;
	color:#fff;
	width: 	fit-content;
}
.bg-light{
	color:#333;
	background:#fff;
}
.bg-pink{
	background-color: #b73333;
	color:#fff;
}
.sp:hover{
box-shadow: 2px 3px 12px #575757;
}
.sp p{
	font-size: 16px;
}
span{
	font-weight: bold;
}
.sp div,.sp{
	/*border-radius: 8px;*/
	padding: 20px;	
}
.bg-automotive{
	background: url('../automobile/automobile_header.png');
	background-repeat: no-repeat;
	background-size: cover; 
	width: 100%;
	height: 70vh;
	background-position: center;
}
.even{
	background:#333;
	color:#fff; 
}
table{
	margin: auto;
	width: 100%;
	height: 100%;
	border:1px solid;
}
tr{

	background:#fff;
	color:#333	
}
td{
	padding: 10px;; 
}
.spImg{
	background:#333; 
	border:1px solid;
	padding:0 12.5% ;
	width:auto;
	height: 303.3px;
	object-fit: scale-down;
	object-position: center;
}
.flex-container > div {

	width:100%;
	margin: 10px;
	font-size: 18px;
}
.sp img{
	width:50%;
	height:auto;
	float:left;
}
.sp div{
	width: 50%;
	height:auto;
	float:right;
}


@media only screen and (max-width: 500px) {
.cars {
	flex-direction: column;
}
.sp img{
	width:100%;
	height:auto;
	object-fit: scale-down;
	float:unset;
}
.sp div{
	width: 100%;
	height:50%;
	float:unset;
}

.flex-container > div {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.spImg{
	margin: unset;
    padding: unset;
    width: 100%;
    height: 100%;
}
.bg-automotive{
	background-size: cover;
    height: 20vh;
    width: 100%;
    background-position: center;
}
}