/*
color 

#333333 header
#b1b1b1 button
#337ab7 button active 
#000000 font-color
#b73333 owner 
*/

*,*:before,*:after{
	box-sizing: border-box;
	margin: 0;
}
body{
font-family: sans-serif;	
}
.bg-dark{
background: #333;
color:#fff;
}
p{
  font-size: 14px;
  line-height: 24px;
}
.header-logo{
  display: none;
  height: 50px;
  width: auto;
}
header{
	background-color:#333;
	color:#fff;
	width: 100%;
	padding: 5px 120px;
}
.top-links{
	float: right;
}
.top-links a{
	display: inline-block;
	color: #fff;
	padding: 0px 5px;
}
.top-links a:hover{
	outline:1px solid #fff;
}

nav{
	padding: 5px 120px;
	border-bottom: 2px solid #bebebe;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}
nav ul li img{
	margin-right: 40px;
}
nav ul li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 5px;
  /*font-weight: bold;*/
}

nav ul li a:hover, .dropdown:hover .dropbtn {
  /*background-color: red;*/

  border-bottom: 3px solid #b73333;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin:0;
  background-color: #fff;
}

.dropdown-content a:hover {
	background-color: #333;
	color:#fff;
	border-bottom: unset;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
    display: inline-block;
    height: 46px;
}

.mySlides {display: none;
}
.mySlides img {
	vertical-align: middle;
	height: 70vh;
	max-height: 70vh;
  width:  auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}



/* The dots/bullets/indicators */
.slide-control{
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding-bottom:50px;
}
.slide-pagination {
    display: inline-block;
    width: 26px;
    height: 3px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.4);
}
.slide-content{
  top:1%;
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  padding: 40px 100px;
  color:#fff;
}
.slide-content hr{
  width: 50px;
  margin:auto; 
}
.slide-content h1{
  padding: 5px 0px;
    font-size: 30px;
    letter-spacing: 6px;
}
.slide-content h3{
  padding: 5px 0;
  font-size:18px;
  letter-spacing: 3px;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.about-header,.product-header{
  padding:20px 0px 0px 20px;
  text-align:   center;
}
.product-header h2{
    padding-bottom:20px 20px 0px 20px;  
}
.about-header h2{
    padding-bottom:20px;  
}


/* Style the tab */
.tab {
  overflow: hidden;
  margin: 10px 25vw 10px 25vw;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    min-width: 100px;
    background: #ccc;
    color: #fff;
    margin-right: 20px;
    border:none;
    padding: 10px;
    outline:none;
    /*
    font-weight: bold;*/
}

/* Change background color of buttons on hover */
.tab button:hover,.contact-btn:hover,.view-more-btn:hover,.contact-btn-submit:hover,.tab-smart-film button:hover,.btn:hover{
  color:#fff;
  background-color: #b73333;
}

/* Create an active/current tablink class */
.tab button.active,.tab-smart-film button.active{
  color:#fff;
  background-color: #b73333;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div {
  position:   relative;
  /*margin: 10px;*/
  padding: 5px;
  font-size: 30px;
}
.flex-container h4{
  color:#b73333;
  font-size: 20px;
}
#flex-container-1{
  flex-wrap: wrap;
   align-content: space-between;
}
#flex-container-1{
   /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;  
}
.btn{
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    min-width: 100px;
    background: #706f6f;
    color: #fff;
    border: none;
    padding: 10px;
}
.view-more-btn{
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    min-width: 100px;
    background: #706f6f;
    color: #fff;
    border: none;
    padding: 10px;
    outline: none;
    position: absolute;
    left:  0;
    bottom:   1%;
}
.about-section{
  padding: 0vh 10vw 10vh; 
}
.about-container{
  width:  100%;
  display: table;
  clear: both;
}
.about-content h4{
  font-size: 20px;
}
.about-content{
  float:left;
  width:50%;
  position:   relative; 
  padding-bottom:   50px;
}
.about-img{
  float:right;
  width:  50%;
  padding-left:20px;  
}
.about-img img{
  max-width: 100%;
  max-height:100%;
}
footer{
  background-color: #333;
  color:#fff;
  padding:20px 40px 0px;
}
footer .highlight{
    margin-bottom:10px;
    font-size:  17px;
    font-weight:  bold; 
}
footer .container{
  width:  100%;
  display:  table;
  clear: both;
  content:""; 
  padding:0px 15vw 30px 5vw;
}
footer .logo{
  float:left;
  width: 10vw;
}
.footer-logo{
  height:   30px;
  width:  auto;
}
footer .header{/*
  float:  right;
  width:90vw;*/
}
footer .header ul{
  float:  left;
  list-style:   none;    
  margin:0 30px;
}
footer .header ul li{
  padding:  4px;
}
footer .container .header ul li a:hover{
    color:#b73333;
}
footer a{
  text-decoration: none;
  color:#fff;
}
footer   .sub-footer{
  border-top:1px solid #706f6f;
  padding: 5vh;
}
footer .sub-footer p{
  text-align: center;
  font-size: 12px;
  margin:0px 5vw;
}

/* Contact button */
.contact-btn{
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    min-width: 100px;
    background: #706f6f;
    color: #fff;
    border: none;
    padding: 10px;
    outline: none;
    position: fixed;
    bottom: 23px;
    right: 28px;
}
.contact-btn-submit{
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    min-width: 100%;
    background: #706f6f;
    color: #fff;
    border: none;
    padding: 10px;
    outline: none;
}
/* The popup chat - hidden by default */
.chat-popup {
  background-color: #324155;
  display: none;
  position: fixed;
  /*top:20%;
  left: 40%;*/

  bottom: 23px;
  right: 28px;
  border: 1px solid #333;
  z-index: 9;
}

/* Add styles to the form container */
.contact-container {
  max-width: 300px;
  padding: 10px;
  background-color: #324155;
  color:#fff;
  font-size: 12px;
}
.contact-container div a{
  color:#fff;
  text-align: right;
  text-decoration: none;
  display: block;
}
/* Full-width textarea */
.contact-container textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 150px;
}
.contact-container input{
  display: block;
  width: 100%;
}

/* When the textarea gets focus, do something */
.contact-container textarea:focus {
  background-color: #ddd;
  outline: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  header{
    padding: 5px 25px;
  }
  .header-logo{
    display: block;
    margin: 10px 20vw 0px 20vw;   
  }
  .header-logo2{
    display: none;
  }
  nav {
    padding:0 !important;
  }
  nav ul li img{
    width: 100%;
    display:block;
    float: left;
  }
  nav ul li a{
    padding: 14px 14px;
    margin:0;
  }
  .mySlides img {
  height: auto;
  width:  100%;
  }


  .tab button {

    width: 100%;
    margin-top: 20px;
  }
  .tab{
    margin: 0!important;
    padding: 0px 50px;
  }
  .about-content,.about-img{
    width:  100%;
    margin-bottom:  5vh;
  }
  .about-img img{
    width:  100%;
  }
  .about-img{

  padding-left:0px;
  }
  .flex-container{
    flex-direction: column;
  }
  #flex-container-1 {
    align-content: center;
  }
  .col2,.col3{
    display:  none;
  }
  .col2 p,.col3 p{
    padding-bottom:30px;
  }
  .col1,.col2,.col3{
    text-align: center;
  }
  .col1 img,.col2 img,.col3 img{  
    width: 80vw;
  }
  .view-more-btn {
    margin-top:20px!important;
   width: 100%;
   bottom: 0;
  }
  footer .container {
    /*padding: 0px 5vw 30px 2vw;*/
  }
  footer .header ul{
    margin:0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .highlight{
    font-size: 20px;
    font-weight: bold;
  }
  footer .header ul:nth-child(3){
      display:  none;
  }
  footer .sub-footer p{
  margin:0px 1vw;
  }
  footer .logo{
    display: none;
  }

  .footer-logo{
    height: 70px;
    width: auto;
  }

.item-1{
  grid-area:1/1/1/3 !important;
}
.item-2{
  grid-area:2/1/2/3 !important;
}
.item-3{
  grid-area:3/1/3/3 !important;
}
.item-4{
  grid-area:4/1/4/3 !important;
}
.item-5{
  grid-area:5/1/5/3 !important;
}
.about-div h4 {
      font-size: 12px!important;
      padding: 0px!important;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-logo{
    display: block;
    margin: 10px 25vw 0px 25vw;   
  }
  .header-logo2{
    display: none;
  }
  nav {
    padding: 5px 50px;
  }
  nav ul li img{
    width: 100%;
    display:block;
    float: left;
  }
/*  .mySlides img {
  height: auto;
  width:  100%;
  }
*/  .tab{
    margin: 5vh 0 0;
  }
  .flex-container{
    flex-direction: column;
  }
  #flex-container-1 {
    align-content: center;
  }
  .col2,.col3{
    display:  none;
  }
  .col2 p,.col3 p{
    padding-bottom:30px;
  }
  .col1,.col2,.col3{
    text-align: center;
  }
  .col1 p,.col2 p,.col3 p{
    text-align: left;
  }
  .view-more-btn {
    margin-top:20px!important;
   width: 100%;
   bottom: 0;
  }
  footer .container {
    /*padding: 0px 5vw 30px 2vw;*/
  }
  footer .header ul{
    margin:0;
    width: 100%;
    margin-bottom: 20px;
  }
  .highlight{
    font-size: 20px;
    font-weight: bold;
  }
  footer .sub-footer p{
  margin:0px 1vw;
  }
  footer .logo{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  nav {
    padding: 5px 50px;
  }
/*  .mySlides img {
  height: auto;
  width:  100%;
  }
*/  .tab{
    margin: 5vh 0 0;
  }
  .flex-container{
    flex-direction: column;
  }
  #flex-container-1 {
    align-content: center;
  }
  .col2,.col3{
    display:  none;
  }
  .col2 p,.col3 p{
    padding-bottom:30px;
  }
  .col1,.col2,.col3{
    text-align: center;
  }
  .col1 p,.col2 p,.col3 p{
    text-align: left;
  }
  .view-more-btn {
    margin-top:20px!important;
    width: 100%;
    bottom: 0;
  }
  footer .container {
    /*padding: 0px 5vw 30px 2vw;*/
  }
  footer .header ul{
    margin:0;
  }
  footer .sub-footer p{
    margin:0px 1vw;
  }
  footer .logo{
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .tab{
    margin: 5vh 0 0;
  }
  .col2 p,.col3 p{
    padding-bottom:10px;
  }
  .view-more-btn {
   width: 100%;
   bottom: 0;
  }
  footer .header ul{
    margin:0;
  }
  footer .sub-footer p{
  margin:0px 1vw;
  }

}


/* CALINAYA CSS */
.bg-about{
  padding: 10% 30%;
  font-size: 90%;
  text-align: center;
  color:#fff;
  background:url('http://www.hohotint.com/statics/hohofilm/images/about1.jpg');
  background-size: cover:  
}
.bg-about img{
    width: 100%;
    display: block;
}
.bg-about p{
    margin-top: 20px;
}
.about-div{
  width:100%;
  padding: 5vh 10vw;
}
.div1{
  background: #333;
  color:#fff;
}
.div2{
  background: #fff;
  color:#333;
}
.div3{
  background: #1f1f1d;
  color:#fff;
}
.div4{
  background: #fff;
  color:#333;
}
.about-div h2{
    font-size: 30px; 
    text-align: center;
    padding: 20px 0px;
}
.about-div h3{
    font-size: 20px; 
    text-align: center;
    padding: 20px;
}
.about-div h4{
    font-size: 17px;
    font-weight:lighter; 
    text-align: center;
    padding: 0px 25%;
    line-height: 30px;
}
.about-div h5{
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    padding-bottom: 20px;
}
.div3 img,.div4 img{
  width:100%;
}
/* CALINAYA CSS */

.grid-container{
  display: grid;
  grid-gap: 10px;
  padding: 0px 6vw;
  align-items:stretch;
  grid-template-columns: auto auto auto;
}
.item img{
 width:100%;
 height: 100%;
}
.span-3{
  grid-column: 1/4;
  grid-row: span 1;
}
.item-1{
  grid-column: 1;
  grid-row: span 2;
}
.item-2{
  grid-column: 2;
  grid-row: 1;
}
.item-3{
  grid-column: 3;
  grid-row: 1;
}
.item-4{
  grid-column: 2;
  grid-row:span 2;
  padding-bottom: 8px;
}
.item-5{
  grid-column: 3;
  grid-row: 2;
}

.grid-item img{width:100%; height:100%;}

/* CALINAYA TRY CSS */